* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

a:hover {
	text-shadow: 1px 1px 2px rgba(130, 180, 64, 0.8);
}


/*82b440 82b440*/


/*主页页面背景图*/

.main-img {
	position: absolute;
	left: 0;
	top: 0;
	background: #fff;
	height: 100%;
	font-size: 12px;
	/*width: 100%;*/
	min-width: 300px;
}

.main-bg {}

.main-bg img {
	position: fixed;
	/*left: 0;*/
	top: 50px;
}


/*头部导航栏*/

header {
	position: fixed;
	background: #FFF;
	/*border-bottom: 1px solid #333;*/
	top: 0;
	width: 100%;
	min-width: 300px;
	z-index: 100;
	height: 40px;
	max-width: 1600px;
	font-size: 1.3em;
}


/*宽屏导航栏*/

.normal-nav {
	height: 40px;
	/*overflow: hidden;*/
	padding: 0 50px;
	border: 1px solid #fff;
	box-shadow: 1px 1px 5px #82b440;
}

.normal-nav .logo {
	float: left;
}

.normal-nav .logo a {
	color: #82b440;
	font-size: 1.8em;
	padding: 0 20px;
	font-weight: 800;
}

.logo p {
	float: right;
	height: 40px;
	line-height: 50px;
	font-size: 0.9em;
	color: #333;
}

.normal-nav span {
	display: none;
}

.normal-nav .menu {
	float: right;
}

.normal-nav .menu ul li {
	display: inline;
	height: 40px;
}

.normal-nav .menu ul li a {
	display: inline-block;
	height: 40px;
	width: 50px;
	text-align: center;
	line-height: 42px;
	color: #333;
	padding: 0 5px;
	margin: 0 5px;
}

.normal-nav .active {
	background: rgba(130, 180, 64, 0.8);
	border-radius: 0 0 8px 8px;
	box-shadow: 0 4px 5px #fff;
}

.normal-nav .menu ul li a:hover {
	background: rgba(130, 180, 64, 0.6);
	border-radius: 0 0 8px 8px;
	box-shadow: 0 4px 5px #fff;
}

.content {
	position: relative;
	padding: 0 50px;
	top: 50px;
	left: 0;
	min-height: 300px;
	display: inline-flex;
	justify-content: space-between;
	color: #333;
}

.left {
	flex: 3;
	margin: 10px;
	background: rgba(255, 255, 255, 0.8);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 1px 1px 6px #82b440;
}

#welcome {
	padding: 20px 0;
	border-bottom: 1px solid #ccc;
	font-size: 1.5em;
}

#welcome h1,
a {
	color: #82b440;
}

.article {
	padding: 20px 0;
}

.title a {
	color: #82b440;
	font-size: 2em;
	padding: 10px 0;
}

.info {
	display: ;
	font-size: 1.4em;
	padding: 10px 0;
}

.time {
	display: inline-block;
}

.tag {
	display: inline-block;
	padding: 0 10px;
}

.txt {
	font-size: 1.6em;
	line-height: 1.6em;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.more {
	font-size: 1.4em;
	padding: 10px;
	float: right;
	color: #82B440;
}

.hide {
	font-size: 1.4em;
	padding: 10px;
	float: right;
	color: #82B440;
	display: none;
}

.timeline-ul
{
	padding: 0 20px;
}

.timeline-ul li
{
	margin: 10px 20px;
	font-size: 1.8em;
	width: 100%;
}

.timeline-ul li a
{
	margin: 0 10px;
}

.timeline-ul li span{
	color: #82B440;
}

.right {
	flex: 1;
	margin: 10px;
	font-size: 1.6em;
}

.right a {
	color: #82b440;
}

.recent {
	background: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	box-shadow: 1px 1px 6px #82b440;
	padding: 20px;
	margin-bottom: 20px;
}

.recent-title {
	margin-bottom: 20px;
	font-weight: bold;
}

.recent ul li {
	list-style: none;
	padding: 0 20px;
	margin: 10px 0;
}

.label {
	padding: 20px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	box-shadow: 1px 1px 6px #82b440;
	margin: 20px 0;
}

.label-title {
	margin-bottom: 20px;
	font-weight: bold;
}

.label ul li {
	list-style: none;
	padding: 0 20px;
	margin: 10px 0;
}

footer {
	position: relative;
	top: 40px;
	color: #333;
	width: 100%;
	height: 100px;
	margin: 50px 0;
	text-align: center;
	font-size: 1.4em;
	/*background: #EEEEEE;*/
}

footer ul li {
	display: inline-block;
	margin: 20px;
}

footer .copy {
	font-size: 0.8em;
}



/*响应式布局-小屏*/
@media only screen and (max-width:700px) {
	.main-img {
		font-size: 8px;
	}
	
	.normal-nav {
		padding: 0 10px;
	}
	.normal-nav .logo {
		line-height: 50px;
	}
	.normal-nav .logo a {
		font-size: 22px;
	}
	.normal-nav .logo p {
		display: none;
	}
	.normal-nav span {
		display: block;
		color: #82b440;
		font-weight: bold;
		float: right;
		line-height: 45px;
		padding: 0 46px;
		font-size: 1.2em;
	}
	.normal-nav span:hover {
		text-shadow: 1px 1px 2px rgba(130, 180, 64, 0.8);
	}
	.normal-nav .menu {
		position: fixed;
		top: 40px;
		right: -100%;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.4);
		text-align: center;
		/*display: none;*/
	}
	.normal-nav .menu ul {
		position: fixed;
		right: -150px;
		width: 150px;
		height: 100%;
		background: #fff;
	}
	.normal-nav .menu ul li {
		display: block;
		height: 60px;
	}
	.normal-nav .menu ul li a {
		display: inline-block;
		height: 40px;
		width: 50px;
		text-align: center;
		line-height: 40px;
		color: #333;
		padding: 0px 25px;
		margin: 10px 5px;
		font-size: 1.2em;
	}
	.normal-nav .active {
		border-radius: 6px;
	}
	.normal-nav .menu ul li a:hover {
		border-radius: 6px;
	}

	.right {
		display: none;
	}	
	.content {
		padding: 0px;		
	}
}

@media only screen and (max-width:850px)
{
	.logo p{
		display: none;
	}
}


@media only screen and (min-width:1600px) {
	.main-img {
		width: 1600px;
		position: absolute;
		display: block;
		/*margin: 0 auto;*/
		left: 50%;
	}
	.main-bg {
		position: relative;
		left: -50%;
	}
}