*
{
	margin: 0;
	padding: 0;
}

nav
{
	position: fixed;
	/*top: 0;
	left: 0;*/
	background: rgba(0,0,0,0.3);
	height: 50px;
	width: 100%;
	z-index: 1;
	
}

#banner
{
	height: 700px;
	background: transparent;
	background: rgba(0,0,0,0.5);
	/*background: url(../img/banner.jpg) no-repeat center center;*/
}

.article#banner
{
	height: 300px;
}

nav ul
{
	list-style: none;
	margin: 0;
	float: right;
	
}

nav ul li,nav .logo
{
	display: inline-block;
	line-height: 50px;
	margin-right: 20px;
	
}

nav ul li a
{
	line-height: 50px;
	text-decoration: none;
	display: inline-block;
	height: inherit;
	color: #fff;
}

nav .logo
{
	float: left;
	padding: 0px 20px;
}

/*nav:after{
	content: "";
	display: block;
	clear: both;
}*/

#banner .inner
{
	width: 300px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 160px;
}

#banner.article .inner
{
	top: 140px;
	color: #fff;
}

#banner .inner h1
{
	margin: 0 auto;
	padding: 14px;
	width: 140px;
	color: #fff;
	font-size: 26px;
	border-top: 2px solid #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
}

.article#banner h1
{
	border: none;
}

button
{
	border: none;
	background: deepskyblue;
	color: #eee;
	padding: 10px;
}

#banner button{
	padding: 14px 30px;
	line-height: 16px;
	font-size: 16px;
	/*letter-spacing: 10px;*/
	color: #FFFFFF;
}

#banner .inner .more
{
	color: #FFFFFF;
	margin-top: 280px;
}

.sub-heading
{
	line-height: 30px;
	margin: 30px auto;
	letter-spacing: 4px;
	color: #FFFFFF;
}

.logo
{
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
	
}

.logo a
{
	color: #fff;
	text-decoration: none;
}

.hr
{
	width: 100%;
	height: 2px;
	margin: 20px auto;
	background: #00BFFF;
}

.green-section
{
	text-align: center;
	color: #fff;
	background: #089db0;
	padding: 100px 0;
}

.green-section .icon-group .icon
{
	display: inline-block;
	width: 80px;
	height: 80px;
	border: 1px solid #0d6f7c;
	transform: rotate(45deg);
	margin: 20px;
}

.icon-group
{
	margin-top: 60px;
}

.wrapper
{
	
	max-width: 1080px;
	margin: 0 auto;
}

.green-section .hr
{
	background: #00BFFF;
	width: 60%;
}

.gray-section
{
	color: #fff;
	background: #252f34;
}

.gray-section .image-section
{
	width: 45%;
}

.image-section img
{
	width: 100%;
}

.gray-section .text-section
{
	width: 55%;
	
}

.article-preview>div
{
	float: left;
}

.article-preview:after
{
	content: "";
	display: block;
	clear: both;
}

.text-section
{
	position: relative;
	top: 100px;
	left: 68px;
}

.text-section h2
{
	margin-bottom: 20px;
}

h2
{
	font-size: 30px;
}

h3
{
	padding: 10px 0;
	font-size: 24px;
}

.text-section .sub-heading
{
	font-size: 22px;
	margin-top: 0;
}

.text-section p
{
	font-size: 18px;
	letter-spacing: 1px;
}

.article-preview
{
	font-size: 0;
}

.article-preview:nth-child(odd)
{
	background-color: rgba(255,255,255,0.05);
}

.purple-section
{
	padding: 80px;
	background: #3f3965;
	color: #fff;
}

.purple-section .wrapper .heading-wrapper
{
	text-align: center;
	margin: 0 auto;
}

.purple-section .hr
{
	background: #373259;
	width: 60%;
}

.card
{
	float: left;
	width: 50%;
	min-height: 200px;
	padding: 50px;
	box-sizing: border-box;
	/*border: 1px solid #000000;*/
}
.card-group:after
{
	content: "";
	display: block;
	clear: both;
	
}

.card p
{
	line-height: 1.5em;
	font-size: 18px;
	letter-spacing: 1px;
}

.card:first-child
{
	background: rgba(0,0,0,0.05);
}

.card:nth-child(2)
{
	background: rgba(0,0,0,0.08);
}

.card:nth-child(3)
{
	background: rgba(0,0,0,0.11);
}

.card:nth-child(4)
{
	background: rgba(0,0,0,0.14);
}

footer
{
	background: #333;
	color: #fff;
	min-height: 200px;
	text-align: center;
	
}

ul.share-group
{
	display: block;
	width: 1080px;
	margin: 0 auto;
	padding: 50px;
}

.share-group li
{
	display: inline-block;
	padding: 10px;
}

.copy
{
	padding-bottom: 20px;
}

.main-wrapper
{
	background: url(../img/banner.jpg);
	overflow: hidden;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.main-wrapper#article-wrapper
{
	background-position: center -300px;
}


.mask
{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.4);
	display: none;
	
}

#sidebar
{
	position: fixed;
	top: 50px;
	/*right: -300px;*/
	right: 0;
	transform: translate(100px,0);
	bottom: 0;
	width: 300px;
	background: #333;
	margin: 0;
	padding: 20px 0;
	transition: all 0.5s;
	
	
}

#sidebar ul li
{
	list-style: none;
}

#sidebar ul a
{
	width: 100%;
	color: #fff;
	padding: 10px 30px;
	text-decoration: none;
	display: inline-block;
}

#sidebar ul a:hover
{
	background: #444;
}

.backtotop
{
	position: fixed;
	bottom: 30px;
	right: 30px;
	border: 1px solid #999;
}

.content-wrapper
{
	width: 1080px;
	margin: 0 auto;
	
}
 .article-content
 {
 	background: #fefefe;
 }

.article-info
{
	font-size: 14px;
	color: #888;
	padding: 14px;
}

article
{
	line-height: 2;
	padding: 10px 0;
}

.active
{
	border-bottom: 2px solid #fff;
}
